
/* -- FORM STYLES ----------------------------- */

div.width-20 { width: 20%;}
div.width-30 { width: 30%;}
div.width-35 { width: 35%; }
div.width-40 { width: 40%;}
div.width-45 { width: 45%;}
div.width-50 { width: 50%;}
div.width-55 { width: 55%;}
div.width-60 { width: 60%; }
div.width-65 { width: 65%;}
div.width-70 { width: 70%;}
div.width-80 { width: 80%;}
div.width-100 { width: 100%;}

.clrlft { clear: left; }
.clrrt { clear: right; }
.fltlft { float: left; }
.fltrt { float: right; }
.fltnone { float: none; }

div.width-20 fieldset,
div.width-30 fieldset,
div.width-35 fieldset,
div.width-40 fieldset,
div.width-45 fieldset,
div.width-50 fieldset,
div.width-55 fieldset,
div.width-60 fieldset,
div.width-65 fieldset,
div.width-70 fieldset,
div.width-80 fieldset,
div.width-100 fieldset { 
	background-color: #fff;
	padding: 17px;
}

fieldset#user-groups,
fieldset.adminform,
fieldset.adminform-legacy {
	margin: 10px;
}

fieldset#folderview,
fieldset#uploadform  {
	background: #fff;
	padding: 10px;
}

fieldset label {
	float: left;
	clear:left;
	margin: 5px 5px 2px 0;
}

fieldset ul {
	margin: 0;
	padding: 0;
}

fieldset ul.checklist {
	margin-left: 27px;
}

fieldset ul.checklist input,
fieldset ul.checklist label {
	float:none; 
}

form label {
	font-size: 12px;
}

fieldset input,
fieldset textarea,
fieldset select,
fieldset img {
	float: left;
	width: auto;
	margin: 5px 5px 10px 0px;
}

input#jform_title {
	margin-bottom: 10px;
}

label#jform_introtext-lbl,
label#jform_fulltext-lbl {
	font-size: 13px;
	padding-top: 15px;
	margin-top: 15px;
	width: 100%;
}
 
fieldset.adminform select,
select#jform_catid.inputbox {
	margin-right:20px;
}

/* Hide the extension name on create category page */
label#jform_extension-lbl,
input#jform_extension {
	display:none;
}

input.readonly {
	font-size: 12px;
	padding-top:1px;
	border: 0;
	font-weight:bold;
	background-color: #F6F6F6;
}
label.invalid {
	color:red;
	font-weight:bold;
	}
input.required.invalid, input.invalid {
	color:red;
	background-color:#ddb1b1;
	}

input.required { 
	background-color: #d5eeff; 
	
	}

input#jform_title.inputbox,
input#jform_leveltitle.inputbox,
input#jform_grouptitle.inputbox  {
	font-size: 15px;
}

label#jform_title-lbl,
label#jform_leveltitle-lbl,
label#jform_grouptitle-lbl {
	padding-top: 3px;
}

div#content-pane fieldset {
	border: 0;
	padding: 10px 15px 0 15px;
}

div.panel fieldset {
	border: 0;
}

/* Batch */

fieldset.batch {
	margin: 20px 0px 10px 0px;
	background: #fff;
padding:10px;
}
fieldset.batch label {  margin: 5px; min-width: 40px; }
fieldset.batch button {  margin: 3px;  }

fieldset#batch-choose-action {
	clear:left;
	border: 0 none;
}

fieldset.batch label {
	float:left;
	clear:none;
}
fieldset label#batch-choose-action-lbl {
	clear:left;
	margin-top: 15px;
}
select#batch-menu-id {
	margin-right:30px;
}

label#batch-access-lbl {
	margin-right:10px;
}




label#jform_description-lbl {
	padding: 10px 0;
}

/* Custom tweaks for long parameter UI */
label#paramsusermode-lbl,
label#paramsphishing-resistant-lbl,
label#paramsmulti-factor-lbl,
label#paramsmulti-factor-physical-lbl,
paramslang_mode-lbl {
	min-width: 200px;
}

fieldset.adminform label,
fieldset.panelform label,
fieldset.panelform div.paramrow label {
	clear:left;
	min-width: 135px;
}

label#userparamsallowUserRegistration-lbl,
label#userparamsnew_usertype-lbl,
label#userparamsuseractivation-lbl,
label#userparamsfrontend_userparams-lbl {
	min-width: 180px;
}

div.jform_mod_title,
div.jform_na {
	margin-top: 5px;
	float:left;
}
div#jform_template,
div#jform_template-desc {
	float:left;
	padding-right: 5px;
	padding-top: 5px;
	font-size:12px;
}
div#jform_template-desc {
	padding-top: 3px;
}
input#description {
	margin-top: 3px;
}

div.editor-border {
	border: 1px solid #CCCCCC;
}

fieldset ul li {
	margin-left: -30px;
}

fieldset p {
	margin: 0 0 15px 0;
	font-size: 12px;
}

ul#overviewlist,
ul#paramlist {
	clear:both;
	font-size: 12px;
	padding-top: 5px;
}

ul#overviewlist li {
	list-style-type: none;
	margin-left: -40px;
	margin-bottom: 15px;
	min-width: 140px;
}

ul#paramlist li {
	list-style-type: none;
	margin-left: -40px;
	margin-bottom: 5px;
}

li#jform_menutype_label,
li#jform_parentid_label,
li#jform_published_label,
li#jform_access_label {
	float:left;
	clear:left;
}

fieldset.adminform fieldset.radio,
fieldset.panelform fieldset.radio,
fieldset.adminform-legacy fieldset.radio  {
	border: 0;
	float:left;
	padding: 0;
	margin: 0 0 5px 0;
	clear:right;
}
fieldset.adminform fieldset.radio label,
fieldset.panelform fieldset.radio label {
	min-width: 40px;
	float:left;
	clear:none;
}


fieldset.panelform-legacy label,
fieldset.adminform-legacy label {
	min-width: 150px;
	float:left;
	
}
/* JParameter classes on radio button labels  */
fieldset.panelform-legacy label.radiobtn_jno,
fieldset.panelform-legacy label.radiobtn_jyes,
fieldset.panelform-legacy label.radiobtn_show,
fieldset.panelform-legacy label.radiobtn_hide,
fieldset.panelform-legacy label.radiobtn_off,
fieldset.panelform-legacy label.radiobtn_on {
	min-width: 40px !important;
	clear:none !important;
}


#jform_plugdesc-lbl,
#jform_description-lbl {
	font-weight:bold;
	clear:both;
	margin-top: 15px;
}
p.jform_desc {
	clear:left;	
}

div#jform_ordering {
	font-size: 12px;
	margin-top: 3px;
}


fieldset.filter			{ border:0;margin:0;padding:0 0 5px;}
fieldset.filter ol		{ border:0;list-style:none;margin:0;padding:5px 0 0;}
fieldset.filter ol li	{ float:left;padding:0 5px 0 0;}
fieldset.filter ol li fieldset	{ border:0;margin:0;padding:0;}
fieldset.filter .left	{ float:left;}
fieldset.filter .right	{ float:right;}
fieldset.filter .right select.inputbox { margin-left: 10px;}

fieldset#filter-bar { height: 35px; border: 0; border-bottom: 1px solid #d5d5d5;}
div.filter-search{}
label.filter-search-lbl {margin-left: 5px;}
label.filter-hide-lbl {margin-left: 5px; clear:none;}
div.filter-select .inputbox {margin-left: 5px; margin-right: 5px;}
button.filter-go { float:left; margin-right:15px;}

label.filter-published-lbl { clear:none; margin-left: 10px;}

.icon-32-refresh		{ background-image: url(icon-32-refresh.png); }
/** Categories text indent**/
table.adminlist td.indent-4 	{	padding-left: 4px;		}
table.adminlist td.indent-19 	{	padding-left: 19px;		}
table.adminlist td.indent-34 	{	padding-left: 34px;		}
table.adminlist td.indent-49 	{	padding-left: 49px;		}
table.adminlist td.indent-64 	{	padding-left: 64px;		}
table.adminlist td.indent-79 	{	padding-left: 79px;		}
table.adminlist td.indent-94 	{	padding-left: 94px;		}
table.adminlist td.indent-109 	{	padding-left: 109px;	}
table.adminlist td.indent-124 	{	padding-left: 124px;	}
table.adminlist td.indent-139 	{	padding-left: 139px;	}