<?xml version="1.0" encoding="utf-8"?>
<config>
  <params addpath="/administrator/components/com_virtualdomains/elements">
    <param type="spacer" default="COSTUMPARAMS INTRO" />
    <param name="PARAMSNAMECOSTOM" type="costomparameters" label="PARAMSLABELCOSTOM" description="PARAMSDESCCOSTOM"/>
  </params>
</config>
