<?xml version="1.0" encoding="utf-8"?>
<config>
  <params>
    <param type="spacer" default="PREVIEW_OPTIONS_DESC" />
    <param name="framewidth" label="FRAMEWIDTH" description="FRAMEWIDTH_DESC" type="text" default="600" />
    <param name="frameheight" label="FRAMEHEIGHT" description="FRAMEHEIGHT_DESC" type="text" default="400" />
  </params>

	<fieldset
		name="PREVIEW OPTIONS"
		label="PREVIEW OPTIONS"
		description="PREVIEW OPTIONS">
	<field
			name="framewidth" 
			type="text"
			default="600"
			label="FRAMEWIDTH"
			description="FRAMEWIDTH_DESC"
		/>
	<field
			name="frameheight" 
			type="text"
			default="400"
			label="FRAMEHEIGHT"
			description="FRAMEHEIGHT_DESC"
		/>				
	</fieldset>		
</config>
