body { background-color:#fff;font:80% Verdana,Tahoma,Arial,sans-serif; }
h1, h2, h3, h4 {  font-family: "Trebuchet MS",Georgia,"Times New Roman",serif; }
ul#contentmenu { padding: 4px; margin-left: 0; }
ul#contentmenu a {text-decoration:none;color:#3b3b3b}
ul#contentmenu a.active {color:#990000}
ul#contentmenu li { list-style-type:none; }
ul#contentmenu li.heading2 { margin-left: 1em; }
ul#contentmenu li.heading3 { margin-left: 2em; }

a {text-decoration:none}
img {border:none}
a.wiki-anchor { display: none; margin-left: 6px; text-decoration: none; }
a.wiki-anchor:hover { color: #aaa !important; text-decoration: none; }
h1:hover a.wiki-anchor, h2:hover a.wiki-anchor, h3:hover a.wiki-anchor { display: inline; color: #ddd; }
h2 {
	display:block;
	padding-top:5px;
	padding-bottom:5px;
	border-top:1px dotted #c0c0c0;
	border-bottom:1px dotted #c0c0c0;
	background-color:#ddd;
}

h3 {
	display:block;
	padding-top:2px;
	padding-bottom:2px;
	border-bottom:1px solid #c0c0c0;
}

#easyTooltip{
	margin:0 10px 1em 0;
	width:400px;
	padding:8px;
	background:#efefef;
	border:1px dotted #bababa;
	line-height:130%;				
	}
#easyTooltip h3{
	margin:0 0 .5em 0;
	font:13px Arial, Helvetica, sans-serif;
	text-transform:uppercase;
	}	
#easyTooltip p{
	margin:0 0 .5em 0;
	}		
#easyTooltip img{
		background:#fff;
		padding:1px;
		border:1px solid #e1e1e1;
		float:left;
		margin-right:10px;
		}	

#sidebar {
   position:fixed;
   width:250px;	
   background-color:#eee;	
   height:100%;
}
#content {
   display:block;
   margin-left:250px;
   padding-left:10px;
   height:100%;
}